/*-------------------------*/
/*mainは組み合わせるときに消す*/

/*↑ここが消えていればOK*/
/*ここでまとめて設定*/

#board-main {
    background-color: map-get($common_color, main);
    overflow: hidden;
    h2 {
    }
    p.sub {
        background-color: #ffd740;
        margin-left:5%;
        margin-right:5%;
        border-radius: 10px;
        line-height: 30px;
        font-size: 80%;
        color: red;          
    }
    
    .wrap-one {
        h3 {
        }
        p {
          
        }
    }
    
    .wrap-two {
        display: flex;
        section {
            flex: 1;
            background-color: #dd2c00;
            margin-left: 3%;
            margin-right: 3%;
        }
    }
}